<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="7758f68e-a11d-4bdc-acfd-d1b7321f4672" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://api.openweathermap.org" type="rest">
  <con:settings id="b0329f2e-ac6b-4406-8a27-5631aeca915e">
    <con:setting id="7758f68e-a11d-4bdc-acfd-d1b7321f4672fileName">http%3A%2F%2Fapi.openweathermap.org</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://api.openweathermap.org</con:endpoint>
  </con:endpoints>
</con:interface>
